body {
  background: #2D2B5D url("../images/flier_bg.png") no-repeat scroll center top;
  margin:50px 0px; 
  padding:10px;
  text-align:center;
  font-family: 'Josefin Sans', 'Josefin Slab', Helvetica, sans-serif;
}

#container {
	width:600px;
	margin:0px auto;
	padding:15px;
}


header {
	position:	relative;
}

#uselogo {
	bottom: 80px;
    float: left;
    left: 20px;
    position: relative;
    width: 100px;
	
}

h1 {
  	bottom: 56px;
    color: white;
    font-size: 2.5em;
    font-weight: 700;
    position: relative;
    text-shadow: 2px 2px 2px #F07800;
}

h3 {
	bottom: 80px;
    color: yellow;
    font-family: 'Josefin Sans';
    font-size: 1.5em;
    left: 75px;
    position: relative;
}

h4 {
	font-size: 1em;
	font-family: 'Josefin Slab';
}

#event_info {
	background-color: rgba(240, 120, 0, 0.6);
    padding: 1em;
    position: relative;
    width: 375px;
    left: 100px;
}

	#event_info h2 {
		color: white;
	    font-family: 'Josefin Slab';
	    font-size: 2em;
	    font-weight: normal;
	}
	
	#event_info h4 {
		color: white;
}
	

#event_features {
	position: relative;
	top: -4px;
}

	#event_features h3 {
	 color: white;
    font-family: 'Josefin Slab';
    left: -3px;
    top: -18px;
}

	#bracket_left {
		 position: relative;
	    right: 39px;
	    top: 59px;
}
	#bracket_right {
		left: 34px;
	    position: relative;
	    top: 50px;
}

	.features {
		display: inline;
    	position: relative;
   		top: -32px;
    	width: 120px;
	}

footer {
	clear: both;
}

	#text_bg {
		background-color: black;
    	padding: 0.2em;
    	position: relative;
    	top: 12px;
	    
	    border-radius: 33px 33px 0 0;
	    -moz-border-radius: 33px 33px 0 0;
	    -webkit-border-radius: 33px 33px 0 0;
}

	#text_bg p {
		color: white;
		text-align: center;
		width: 600px;
}