<h1>I'm on a boat</h1>

<div class="hovergallery">
<img src="sunflower.jpg" />
<img src="forest.jpg" />
<img src="duck.jpg" />
</div>

<p>Find me on Lake Michigan.</p>

<!-- Insert code for Google Checkout Here -->