<!DOCTYPE html>

<header>
<img id="uselogo" src="images/use_logo.png" alt="USE">
<h1>I'm on a boat</h1>

</header>
<div class="hovergallery">
<img src="sunflower.jpg" />
<img src="forest.jpg" />
<img src="duck.jpg" />
</div>

<p>Find me on Lake Michigan.</p>

<!-- Insert code for Google Checkout Here -->
=======
<h1>Pages#main</h1>
<p>See me in app/views/pages/main.html.erb</p>
>>>>>>> ca46ad0f1376aa71ba7899e3ff71545b5e24f437
