<!DOCTYPE html>

<div id="container">

  <header>
    <img id="uselogo" src="../images/use_logo.png" alt="USE">
    <h1>US Empowered Boat Party!</h1>
    <h3>Kick off your summer in style</h3>
  </header>

  <section id="event_info">
    <h2>Date: Saturday, June 4th</h2>
    <h2>Price: $100</h2>
    <h2>Time: 8:30-11:30pm</h2>
  </section>

  <section id="event_features">
    <img id="bracket_left" src="../images/bracket_left.png" alt="*">
    <img id="bracket_right" src="../images/bracket_right.png" alt="*">
    <h3>Includes</h3>
    <img class="features" src="../images/openbar.png" alt="3-hour Open Bar">
    <img class="features" src="../images/buffet.png" alt="3-course buffet">
    <img class="features" src="../images/dancing.png" alt="Live DJ + Dancing">
    <img class="features" src="../images/fireworks.png" alt="Fireworks">
  </section>

<footer>
  <div id="text_bg">
    <p>US Empowered identifies and trains highly effective teachers to lead underperforming 
    students in low-income schools to enroll in and graduate from college.</p>
  </div>
</footer>

</div>

<!-- Insert code for Google Checkout Here -->



